<!-- <p>
  login works!
</p> -->
<html>
     <head>
      <title></title>
      <link rel="stylesheet" href="../../assets/bootstrap.css">
    </head>
  <body>
<div class="container-fluid">
       <div class="bg-dark p-1">
      <nav class="navbar navbar-expand-lg navbar-dark indigo fixed top">
        <div class="container">
        <a class="navbar-brand">GooGle Keep</a>
        <button class="btn btn-sm btn-outline-success"><a routerLink = "signup">TRY</a></button>
      </div>
      </nav> 
    </div>
    </div>
       <div class="wrapper">
      <img class="img-fluid" src="../../assets/intro-bg.jpg"  alt="Background Image"> 
    </div>  

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Keep_Clone 2018</p>
      </div>
    </footer> 
    </body>
</html>